@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.global-bg {
  background-color: #1e1e1e;
}

.side-bar-padding {
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.global-main-container {
  width: 95%;
  margin: 0 auto;
}

.global-text-gray {
  color: #1e1e1e;
}

.global-text-light-gray {
  color: #8e8e8e;
}
